<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, Harn World!</h1>
    <p>These are a small set of tools I'm tinkering with to support play in the Harn table-top roleplaying game. For
    the most part you'll need these systems to make full use of these tools.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Columbia Games <i class="fas fa-external-link-alt"></i></a></p>
    <p><a class="btn btn-primary btn-lg" href="http://www.kelestia.com/" target="_blank" role="button">Kelestia Productions <i class="fas fa-external-link-alt"></i></a></p>
  </div>
</div>


  <!-- Example row of columns -->
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Name Generator</h4>
        <div class="card-body"><p>Generates given and surnames for use in Harn World.</p>
          <a class="btn btn-secondary" routerLink="names" role="button">Generate <i class="fas fa-users"></i></a></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Tenant Generator</h4>
        <div class="card-body">
          <p class="card-text">Generates manor tenant households from Harn Manor.</p>
          <a class="btn btn-secondary" routerLink="manors" role="button">Generate <i class="fas fa-home"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Travel Calculator</h4>
        <div class="card-body">
          <p>Converts distances (Harnic Leagues/Miles/KM) and calculates travel times.</p>
          <a class="btn btn-secondary" routerLink="travel" role="button button-disabled">Calculate <i
            class="far fa-map"></i></a>
        </div>
      </div>
    </div>
    </div>
  </div>
<hr>
<div class="clearfix"></div>
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Weather Generator</h4>
        <div class="card-body"><p>Generates weather for Harn World in 4 hour blocks.</p>
          <a class="btn btn-secondary" href="#" role="button button-disabled">Coming Soon <i
            class="fas fa-sun"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
      <h4 class="card-header">Treasure Generator</h4>
      <div class="card-body"><p>Generates random treasure based on Harn Master Campaign rules.</p>
      <a class="btn btn-secondary" href="#" role="button button-disabled">Coming Soon <i
        class="fas fa-trophy"></i></a></div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Armour Calculator</h4>
        <div class="card-body"><p>Calculates location protection for Harn Master characters.</p>
        <a class="btn btn-secondary" href="#" role="button">Coming Soon <i class="fas fa-shield-alt"></i></a></div>
      </div>
    </div>
    </div>
  </div>
<hr>
  <div class="container">
    <div class="col-md-4">
      <div class="card"><h4 class="card-header">Roll20 HarnMaster Character Sheet</h4>
      <div class="card-body"><p>Charactersheet for use in roll20 for HarnMaster3, has significant funtionality.</p>
      <a class="btn btn-secondary" href="https://github.com/Streamweaver/harn-roll20" role="button" target="_blank">GitHub
        Repo <i class="fab fa-github"></i></a></div></div>
    </div>
  </div>

<hr>
