<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a
      jumbotron and three supporting pieces of content. Use it as a starting point to create something more
      unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">


  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Tenant Generator</h2>
      <p>Generates manor tenant households from Harn Manor.</p>
      <p><a class="btn btn-secondary" routerLink="manors" role="button">Generate &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Weather Generator</h2>
      <p>Generates weather for Harn World in 4 hour blocks.</p>
      <p><a class="btn btn-secondary" href="#" role="button button-disabled">Coming Soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Armour Calculator</h2>
      <p>Calculates location protection for Harn Master characters.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Coming Soon &raquo;</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Treasure Generator</h2>
      <p>Generates random treasure based on Harn Master Campaign rules.</p>
      <p><a class="btn btn-secondary" href="#" role="button button-disabled">Coming Soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Name Generator</h2>
      <p>Generates given and surnames for use in Harn World.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Coming Soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Roll20 HarnMaster Character Sheet</h2>
      <p>Charactersheet for use in roll20 for HarnMaster3, has significant funtionality.</p>
      <img src="assets/images/roll20-logo.png" class="img-fluid" alt="Roll 20 Logo">
      <p><a class="btn btn-secondary" href="https://github.com/Streamweaver/harn-roll20" role="button" target="_blank">GitHub Repo &raquo;</a></p>
    </div>
  </div>
  <hr>

</div> <!-- /container -->
