<div class="container page">

  <!-- Introduction Row -->
  <h1 class="my-4">Harn Tools</h1>
  <p>This site contains a few tools I created to support play in my <a href="" target="_blank">Harn</a> and <a href="" target="_blank">HarnMaster</a> table-top RPG. </p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a routerLink="armor">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/armor.png" alt="Armor">
      </a>
      <h3>Armor Calculator</h3>
      <p>Drag and Drop interface for armor in Harn calculates protection, weight, and value.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a routerLink="prices">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/prices.png" alt="Ledger">
      </a>
      <h3>Price List</h3>
      <p>A Harnic Price List that with basic search and filtering options, compiled by various members of the harn community.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a routerLink="names">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/names.png" alt="Harnic Names">
      </a>
      <h3>Name Generator</h3>
      <p>Generates random names for various culture on Harn.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a routerLink="travel">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/travel.png" alt="Travel">
      </a>
      <h3>Travel Distances/Converter</h3>
      <p>Converts distances between various units and provides a dynamic travel speed table.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a routerLink="manors">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/manor.png" alt="Manor House">
      </a>
      <h3>Manor Generator</h3>
      <p>Generates a manor and villiage based on rules form the Harn Manor supplement and allows users to tweak and edit details as needed.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="https://docs.google.com/spreadsheets/d/11ioQW6WoxajkDGNq4EYeV0BL3xMUUxg224tiV5jDcW8/copy?usp=sharing" target="_blank">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/images/skillscalc.png" alt="Spreadsheet">
      </a>
      <h3>Skills Calculator <i class="fas fa-external-link-alt"></i></h3>
      <p>External Link to copy a Google Sheet for calculating Harn Character skills.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="https://docs.google.com/spreadsheets/d/11ioQW6WoxajkDGNq4EYeV0BL3xMUUxg224tiV5jDcW8/copy?usp=sharing" target="_blank">
        <img class="img-fluid d-block mx-auto" src="assets/images/Roll20_Logo_200.png" alt="Roll 20 Logo">
      </a>
      <h3>Roll20 Character Sheet <i class="fas fa-external-link-alt"></i></h3>
      <p>External Link the github repo for the Roll20 Harn Character Sheet I created.  It is included on Roll20 already under the heading Harn (simple).</p>
    </div>
  </div>

</div>
