<div class="container-fluid page">
  <h2>Harnic Price List {{pricesReady}}</h2>
  <p>By Dakin Burdick (2015) based on Steve McDonald's work, v. 2.0 Feb 1997 </p>
  <p>Prices are general base prices and may vary in location based on supply and demand.</p>
  <app-loading-spinner *ngIf="!pricesReady" [msg]="'Loading Prices ...'"></app-loading-spinner>
  <div class="form-inline" *ngIf="pricesReady">
    <div class="input-group mb-2 mr-sm-2">
      <label class="my-1 mr-2" for="itemSearchInput">Search: </label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="itemSearchInput" [formControl]="searchField" placeholder="Type an item name or category ...">
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <label class="my-1 mr-2">Vendor: </label>
      <select class="custom-select" class="condensed list-group-item" id="vendorSelect" (change)="onVendorSelect($event.target.value)">
        <option value="">Any</option>
        <option *ngFor="let vendor of vendors" value="{{vendor}}">{{vendor | titlecase}}</option>
      </select>
    </div>
  </div>

  <table class="table table-bordered table-striped" *ngIf="pricesReady">
    <thead class="table-dark">
    <tr>
      <td>Item<span *ngIf="filteredPrices.length > 1">s</span> ({{filteredPrices.length}})</td>
      <td>Price(d)</td>
      <td>Common Price</td>
      <td>Weight (lbs)</td>
      <td>Vendor</td>
      <td>Notes</td>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let salesItem of filteredPrices">
      <tr>
        <td>{{salesItem.name | titlecase}}</td>
        <td>{{salesItem.price}} <small *ngIf="salesItem.price">d</small></td>
        <td>
          <ng-container *ngFor="let item of localPrices(salesItem.price)">
            {{item.amount}} <small>{{item.coin}}</small>,
          </ng-container>
        </td>
        <td>{{salesItem.weight}} <small *ngIf="salesItem.weight">lbs</small></td>
        <td>{{salesItem.vendor | titlecase}}</td>
        <td>{{salesItem.notes}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div *ngIf="filteredPrices.length < 1 && currentVendor">Enter a search term or select a vendor.</div>
</div>
