<table class="table table-sm" [formGroup]="generalDataForm">
  <thead class="thead-dark">
  <tr>
    <th colspan="2">Information</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td width="66%">
      Topology
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <select class="px-1 py-1 col-sm-12" formControlName="topology"
                [(ngModel)]="manor.topology" (change)="onTopologySelect()">
          <option *ngFor="let topography of topologyChoices()" [value]="topography"
                  [selected]="manor.topology === topography">{{topography}}
          </option>
        </select>
      </div>
      <span *ngIf="!showGenerationInput">{{manor.topology}}</span>
    </td>
  </tr>
  <tr class="table-section">
    <td width="66%">
      Gross Acres
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input type="number" class="form-control" formControlName="grossAcres"
               (change)="onGrossAcresChange()" [(ngModel)]="manor.grossAcres">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.grossAcres}}</span>
    </td>
  </tr>
  <tr [ngClass]="{'alert alert-danger': generalDataForm.controls['woodlandAcres'].invalid && (generalDataForm.controls['woodlandAcres'].dirty || generalDataForm.controls['woodlandAcres'].touched)}">
    <td width="66%">
      - Woodland Acres
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input type="number" class="form-control" formControlName="woodlandAcres"
               (change)="onWoodlandAcresChange()" [(ngModel)]="manor.woodlandAcres">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.woodlandAcres}}</span>
    </td>
  </tr>
  <tr *ngIf="generalDataForm.controls['woodlandAcres'].invalid && (generalDataForm.controls['woodlandAcres'].dirty || generalDataForm.controls['woodlandAcres'].touched)" class="alert alert-danger small">
    <td colspan="2">
    <div *ngIf="generalDataForm.controls['woodlandAcres'].errors.required">
      Required
    </div>
    <div *ngIf="generalDataForm.controls['woodlandAcres'].errors.min">
      cannot be less than 0
    </div>
    <div *ngIf="generalDataForm.controls['woodlandAcres'].errors.maxGrossAcres">
      cannot be more than Gross Acres
    </div>
    </td>
  </tr>

  <tr [ngClass]="{'alert alert-danger': generalDataForm.controls['clearedAcres'].invalid && (generalDataForm.controls['clearedAcres'].dirty || generalDataForm.controls['clearedAcres'].touched)}">
    <td width="66%">
      = Cleared Acres
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input type="number" class="form-control" formControlName="clearedAcres"
               (change)="onClearedAcresChange()" [(ngModel)]="manor.clearedAcres">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.clearedAcres}}</span>
    </td>
  </tr>
  <tr *ngIf="generalDataForm.controls['clearedAcres'].invalid && (generalDataForm.controls['clearedAcres'].dirty || generalDataForm.controls['clearedAcres'].touched)" class="alert alert-danger small">
    <td colspan="2">
      <div *ngIf="generalDataForm.controls['clearedAcres'].errors.required">
        Required
      </div>
      <div *ngIf="generalDataForm.controls['clearedAcres'].errors.min">
        cannot be less than 0
      </div>
      <div *ngIf="generalDataForm.controls['clearedAcres'].errors.maxGrossAcres">
        cannot be more than Gross Acres
      </div>
    </td>
  </tr>

  <tr>
    <td width="66%">
      - Tenant Acres
    </td>
    <td width="34%">
      {{manor.population.tenantAcres()}}
    </td>
  </tr>
  <tr>
    <td width="66%">
      = Demesne Acres
    </td>
    <td width="34%">
      {{manor.demenseAcres()}}
    </td>
  </tr>
  <tr class="table-section">
  <td width="66%">
    Labor Pool
  </td>
  <td width="34%">
    {{manor.population.tenantLaborPool()}}
  </td>
  </tr>
  <tr>
  <td width="66%">
    Labor Obligation
  </td>
  <td width="34%">
    {{manor.population.tenantLaborDays()}}
  </td>

  </tr>
  <tr class="table-section" [ngClass]="{'alert alert-danger': generalDataForm.controls['landQuality'].invalid && (generalDataForm.controls['landQuality'].dirty || generalDataForm.controls['landQuality'].touched)}">
    <td width="66%">
      Land Quality
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input type="number" class="form-control" formControlName="landQuality" [(ngModel)]="manor.landQuality">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.landQuality}}</span>
    </td>
  </tr>
  <tr *ngIf="generalDataForm.controls['landQuality'].invalid && (generalDataForm.controls['landQuality'].dirty || generalDataForm.controls['landQuality'].touched)" class="alert alert-danger small">
    <td colspan="2">
      <div *ngIf="generalDataForm.controls['landQuality'].errors.required">
        Required
      </div>
      <div *ngIf="generalDataForm.controls['landQuality'].errors.min">
        cannot be less than 0.75
      </div>
      <div *ngIf="generalDataForm.controls['landQuality'].errors.max">
        cannot be more than 1.3
      </div>
    </td>
  </tr>

  <tr [ngClass]="{'alert alert-danger': generalDataForm.controls['fiefIndex'].invalid && (generalDataForm.controls['fiefIndex'].dirty || generalDataForm.controls['fiefIndex'].touched)}">
    <td width="66%">
      Fief Index
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input type="number" class="form-control" formControlName="fiefIndex" [(ngModel)]="manor.fiefIndex">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.fiefIndex}}</span>
    </td>
  </tr>
  <tr *ngIf="generalDataForm.controls['fiefIndex'].invalid && (generalDataForm.controls['fiefIndex'].dirty || generalDataForm.controls['fiefIndex'].touched)" class="alert alert-danger small">
    <td colspan="2">
      <div *ngIf="generalDataForm.controls['fiefIndex'].errors.required">
        Required
      </div>
      <div *ngIf="generalDataForm.controls['fiefIndex'].errors.min">
        cannot be less than 0.75
      </div>
      <div *ngIf="generalDataForm.controls['fiefIndex'].errors.max">
        cannot be more than 1.25
      </div>
    </td>
  </tr>

  <tr [ngClass]="{'alert alert-danger': generalDataForm.controls['tradeIndex'].invalid && (generalDataForm.controls['tradeIndex'].dirty || generalDataForm.controls['tradeIndex'].touched)}">
    <td width="66%">
      Trade Index
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input type="number" class="form-control" formControlName="tradeIndex" [(ngModel)]="manor.tradeIndex">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.tradeIndex}}</span>
    </td>
  </tr>
  <tr *ngIf="generalDataForm.controls['tradeIndex'].invalid && (generalDataForm.controls['tradeIndex'].dirty || generalDataForm.controls['tradeIndex'].touched)" class="alert alert-danger small">
    <td colspan="2">
      <div *ngIf="generalDataForm.controls['tradeIndex'].errors.required">
        Required
      </div>
      <div *ngIf="generalDataForm.controls['tradeIndex'].errors.min">
        cannot be less than 0.5
      </div>
      <div *ngIf="generalDataForm.controls['tradeIndex'].errors.max">
        cannot be more than 1.7
      </div>
    </td>
  </tr>

  <tr class="table-section">
    <td width="66%">
      Year
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="year" [(ngModel)]="manor.year">
      </div>
    </td>
  </tr>

  <tr [ngClass]="{'alert alert-danger': generalDataForm.controls['weatherIndex'].invalid && (generalDataForm.controls['weatherIndex'].dirty || generalDataForm.controls['weatherIndex'].touched)}">
    <td width="66%">
      Weather Index
    </td>
    <td width="34%">
      <div class="input-group input-group-sm" *ngIf="showGenerationInput">
        <input #weatherIndex type="number" class="form-control" formControlName="weatherIndex" [(ngModel)]="manor.weatherIndex">
      </div>
      <span *ngIf="!showGenerationInput">{{manor.weatherIndex}}</span>
    </td>
  </tr>
  <tr *ngIf="generalDataForm.controls['weatherIndex'].invalid && (generalDataForm.controls['weatherIndex'].dirty || generalDataForm.controls['weatherIndex'].touched)" class="alert alert-danger small">
    <td colspan="2">
      <div *ngIf="generalDataForm.controls['weatherIndex'].errors.required">
        Required
      </div>
      <div *ngIf="generalDataForm.controls['weatherIndex'].errors.min">
        cannot be less than 0.65
      </div>
      <div *ngIf="generalDataForm.controls['weatherIndex'].errors.max">
        cannot be more than 1.35
      </div>
    </td>
  </tr>
  </tbody>
</table>
