<table class="table table-sm" [formGroup]="generalDataForm">
  <thead class="thead-dark">
  <tr>
    <th colspan="2">Information</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td width="66%">
      Topology
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <select class="px-1 py-1 col-sm-12" formControlName="topology"
                [(ngModel)]="manor.topology" (change)="onTopologySelect()">
          <option *ngFor="let topography of topologyChoices()" [value]="topography"
                  [selected]="manor.topology === topography">{{topography}}
          </option>
        </select>
      </div>
    </td>
  </tr>
  <tr class="table-section">
    <td width="66%">
      Gross Acres
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="grossAcres"
               (change)="onGrossAcresChange()" [(ngModel)]="manor.grossAcres">
      </div>
    </td>
  </tr>
  <tr>
    <td width="66%">
      - Woodland Acres
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="woodlandAcres"
               (change)="onWoodlandAcresChange()" [(ngModel)]="manor.woodlandAcres">
      </div>
    </td>
  </tr>
  <tr>
    <td width="66%">
      = Cleared Acres
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="clearedAcres"
               (change)="onClearedAcresChange()" [(ngModel)]="manor.clearedAcres">
      </div>
    </td>
  </tr>
  <tr>
    <td width="66%">
      - Tenant Acres
    </td>
    <td width="34%">
      {{manor.population.tenantAcres()}}
    </td>
  </tr>
  <tr>
    <td width="66%">
      = Demesne Acres
    </td>
    <td width="34%">
      {{manor.demenseAcres()}}
    </td>
  </tr>
  <tr class="table-section">
  <td width="66%">
    Labor Pool
  </td>
  <td width="34%">
    {{manor.population.tenantLaborPool()}}
  </td>
  </tr>
  <tr>
  <td width="66%">
    Labor Obligation
  </td>
  <td width="34%">
    {{manor.population.tenantLaborDays()}}
  </td>
  </tr>
  <tr class="table-section">
    <td width="66%">
      Land Quality
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="landQuality" [(ngModel)]="manor.landQuality">
      </div>
    </td>
  </tr>
  <tr>
    <td width="66%">
      Fief Index
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="fiefIndex" [(ngModel)]="manor.fiefIndex">
      </div>
    </td>
  </tr>
  <tr>
    <td width="66%">
      Trade Index
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="tradeIndex" [(ngModel)]="manor.tradeIndex">
      </div>
    </td>
  </tr>
  <tr class="table-section">
    <td width="66%">
      Year
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" formControlName="year" [(ngModel)]="manor.year">
      </div>
    </td>
  </tr>
  <tr>
    <td width="66%">
      Weather Index
    </td>
    <td width="34%">
      <div class="input-group input-group-sm">
        <input #weatherIndex type="number" class="form-control" formControlName="weatherIndex" [(ngModel)]="manor.weatherIndex">
      </div>
      <div *ngIf="generalDataForm.controls['weatherIndex'].invalid && (generalDataForm.controls['weatherIndex'].dirty || generalDataForm.controls['weatherIndex'].touched)"
           class="alert alert-danger small">
        <div *ngIf="generalDataForm.controls['weatherIndex'].errors.required">
          Required
        </div>
        <div *ngIf="generalDataForm.controls['weatherIndex'].errors.min">
          cannot be less than 0.65
        </div>
        <div *ngIf="generalDataForm.controls['weatherIndex'].errors.max">
          cannot be more than 1.35
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
