<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Harn Tools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdownToolsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
        <div class="dropdown-menu" aria-labelledby="dropdownToolsMenu">
          <a class="dropdown-item" [routerLink]="['names']" [routerLinkActive]="['active']">Names</a>
          <a class="dropdown-item" [routerLink]="['manors']" [routerLinkActive]="['active']">Manor</a>
          <a class="dropdown-item" [routerLink]="['travel']" [routerLinkActive]="['active']">Travel</a>
          <a class="dropdown-item" [routerLink]="['armor']" [routerLinkActive]="['active']">Armor</a>
          <a class="dropdown-item" [routerLink]="['prices']" [routerLinkActive]="['active']">Prices</a>
          <a class="dropdown-item disabled" href="#">Weather</a>
          <a class="dropdown-item disabled" href="#">Treasure</a>


        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Streamweaver/harn-roll20" target="_blank">Roll20 Charsheet</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdownLinksMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
        <div class="dropdown-menu" aria-labelledby="dropdownLinksMenu">
          <a class="dropdown-item disabled" href="http://columbiagames.com/harn/index.html" target="_blank">Harn@ColbumbiaGames</a>
          <a class="dropdown-item disabled" href="http://www.kelestia.com/" target="_blank">Harn@Kelestia</a>
          <a class="dropdown-item disabled" href="https://www.lythia.com/" target="_blank">Lythia.com</a>
          <a class="dropdown-item disabled" href="http://www.quicenter.com/harn/default_en.asp" target="_blank">Fenhorns Harnpage</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
