<table class="table table-bordered table-sm table-hover table-striped table-responsive-lg">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Title/Name</th>
      <th scope="col" class="text-center">ML</th>
      <th scope="col" class="text-center">Each</th>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">Total</th>
      <th scope="col" class="text-center">Loyalty</th>
    </tr>
  </thead>
  <tbody>
    <tr app-household-member *ngFor="let member of manor.population.household" [member]="member"></tr>
  </tbody>
</table>
