<table class="table table-striped table-hover table-sm" [formGroup]="budgetForm">
  <thead class="thead-dark">
  <tr>
    <th class="font-weight-bold">Fief's Budget</th>
    <th class="small font-weight-bold text-center" width="10%">RI</th>
    <th class="small font-weight-bold text-center"width="10%">Yield</th>
    <th class="small font-weight-bold text-center" width="15%">Acres</th>
    <th class="small font-weight-bold text-center" width="10%">Labor</th>
    <th class="small font-weight-bold text-right" width="15%">Kind</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="small">Woods</td>
    <td class="small text-center">{{checkResultIndex(manor.woods.checkResult)}}</td>
    <td class="small text-center">{{woodsYield()}}</td>
    <td class="small text-center">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-center" formControlName="woodsWorked"
               [(ngModel)]="manor.woods.acresWorked">
      </div>
    </td>
    <td class="small text-center">{{woodsLabor()}}</td>
    <td class="small text-right">{{woodsKind() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Crop</td>
    <td class="small text-center"></td>
    <td class="small text-center"></td>
    <td class="small text-center">{{crops.acres | number}}</td>
    <td class="small text-center">{{crops.labor | number}}</td>
    <td class="small text-right">{{crops.kind | number}}</td>
  </tr>
  <tr>
    <td class="small">Pastures</td>
    <td class="small text-center"></td>
    <td class="small text-center"></td>
    <td class="small text-center">{{herds.acres | number}}</td>
    <td class="small text-center">{{herds.labor | number}}</td>
    <td class="small text-right">{{herds.kind | number}}</td>
  </tr>
  <tr>
    <td class="small">Waste</td>
    <td class="small text-center"></td>
    <td class="small text-center"></td>
    <td class="small text-center">{{manor.waste}}</td>
    <td class="small text-center"></td>
    <td class="small text-right"></td>
  </tr>
  <tr class="table-summary">
    <td class="font-weight-bold">Harvest Total:</td>
    <td class=" text-center"></td>
    <td class=" text-center"></td>
    <td class=" text-center"></td>
    <td class=" text-center font-weight-bold">{{totalHarvestLabor() | number}}</td>
    <td class=" text-right font-weight-bold">{{totalHarvestKind() | number }}d</td>
  </tr>
  <tr>
    <td class="small">Crop Seed</td>
    <td class="small text-center">{{beadleIndex(manor.cropSeed.checkResult)}}</td>
    <td class="small text-center"></td>
    <td class="small text-center">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-center" formControlName="cropSeed"
               [(ngModel)]="manor.cropSeed.acresPlanned">
      </div>
    </td>
    <td class="small text-center"></td>
    <td class="small text-right">{{cropSeedKind() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Winter Feed</td>
    <td class="small text-center">{{beadleIndex(manor.winterFeed.checkResult)}}</td>
    <td class="small text-center"></td>
    <td class="small text-center">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-center" formControlName="winterFeed"
               [(ngModel)]="manor.winterFeed.acresPlanned">
      </div>
    </td>
    <td class="small text-center"></td>
    <td class="small text-right">{{winterFeedKind() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Fief maintenance</td>
    <td class="small text-center"></td>
    <td class="small text-center"></td>
    <td class="small text-center">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-center" formControlName="fiefMaintenance"
               [(ngModel)]="manor.fiefMaintenance">
      </div>
    </td>
    <td class="small text-center">{{fiefMaintLabor() | number}}</td>
    <td class="small text-right">{{fiefMaintKind() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Assart</td>
    <td class="small text-center"></td>
    <td class="small text-center"></td>
    <td class="small text-center">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-center" formControlName="assart" [(ngModel)]="manor.assart">
      </div>
    </td>
    <td class="small text-center">{{assartLabor() | number}}</td>
    <td class="small text-right">{{assartKind() | number}}d</td>
  </tr>
  <tr class="table-summary">
    <td class="font-weight-bold ">Fief Total:</td>
    <td class=" text-center"></td>
    <td class=" text-center"></td>
    <td class=" text-center"></td>
    <td class="table-danger font-weight-bold text-center">
   <span [ngClass]="{'badge badge-pill badge-danger': warnLabor}">
   {{fiefIncomeLabor() | number}}
   </span>
    </td>
    <td class="font-weight-bold text-right">{{fiefIncomeKind() | number}}d</td>
  </tr>
  </tbody>
</table>
