<div class="card">
  <div class="card-header">
    <h3>Travel Times & Rates</h3>
  </div>
  <div class="card-body">
    <h3>Conditions</h3>
    <div class="row mb-4">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 (click)="onSnowClick('lightSnow')"
                 [(ngModel)]="conditions.ground.lightSnow"
                 [checked]="conditions.ground.lightSnow"
          >
          <label class="form-check-label">Light Snow</label>
        </div>
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 (click)="onSnowClick('snow')"
                 [(ngModel)]="conditions.ground.snow"
                 [checked]="conditions.ground.snow"
          >
          <label class="form-check-label">Moderate Snow</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 (click)="onSnowClick('deepSnow')"
                 [(ngModel)]="conditions.ground.deepSnow"
                 [checked]="conditions.ground.deepSnow"
          >
          <label class="form-check-label">Deep Snow</label>
        </div>
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.ground.mud"
                 [checked]="conditions.ground.mud"
          >
          <label class="form-check-label">Mud</label>
        </div>
      </div>
      <div class="col">

        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 (click)="onRainClick()"
                 [(ngModel)]="conditions.weather.rain"
                 [checked]="conditions.weather.rain"
          >
          <label class="form-check-label">Rain</label>
        </div>
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 (click)="onBlizzardClick()"
                 [(ngModel)]="conditions.weather.blizzard"
                 [checked]="conditions.weather.blizzard"
          >
          <label class="form-check-label">Storm/Blizzard</label>
        </div>
      </div>

    </div>

    <ul class="nav nav-tabs mx-2">
      <li class="nav-item" (click)="onTravelTabsClick()">
        <a class="nav-link" [ngClass]="{'active': displayTravelTimes}">Travel Times</a>
      </li>
      <li class="nav-item" (click)="onTravelTabsClick()">
        <a class="nav-link" [ngClass]="{'active': !displayTravelTimes}">Travel Rates/Hour</a>
      </li>
    </ul>
    <div class="row">
      <div class="col pb-1 pt-1">
        <div class="btn-group btn-group-sm btn-group-toggle mr-3" role="group">
          <button type="button" class="btn btn-secondary btn-dark" (click)="onUnitSelectClick(leagues)"
                  [ngClass]="{'active': selectedUnits === leagues}">Leagues
          </button>
          <button type="button" class="btn btn-secondary btn-dark" (click)="onUnitSelectClick(hexes)"
                  [ngClass]="{'active': selectedUnits === hexes}">Hexes
          </button>
          <button type="button" class="btn btn-secondary btn-dark" (click)="onUnitSelectClick(miles)"
                  [ngClass]="{'active': selectedUnits === miles}">Miles
          </button>
          <button type="button" class="btn btn-secondary btn-dark" (click)="onUnitSelectClick(km)"
                  [ngClass]="{'active': selectedUnits === km}">Km
          </button>
        </div>
        <h5 class="d-inline-block" *ngIf="displayTravelTimes">Total hours to travel {{distances.controls[unitChoices[selectedUnits]].value}} {{unitChoices[selectedUnits]}}.</h5>
      </div>

    </div>

    <table class="table table-striped table-hover table-sm" *ngIf="!displayTravelTimes">
      <thead>
      <tr>
        <th><h5>Flat Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesFlat">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm" *ngIf="!displayTravelTimes">
      <thead>
      <tr>
        <th><h5>Rough/Hilly Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesRough">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm" *ngIf="!displayTravelTimes">
      <thead>
      <tr>
        <th><h5>Mountain Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesMountain">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>


    <table class="table table-striped table-hover table-sm" *ngIf="displayTravelTimes">
      <thead>
      <tr>
        <th><h5>Flat Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesFlat">
        <td>{{mr.path}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.foot)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.horse)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.cart)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm" *ngIf="displayTravelTimes">
      <thead>
      <tr>
        <th><h5>Rough/Hilly Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesRough">
        <td>{{mr.path}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.foot)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.horse)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.cart)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm" *ngIf="displayTravelTimes">
      <thead>
      <tr>
        <th><h5>Mountain Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesMountain">
        <td>{{mr.path}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.foot)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.horse)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.cart)}}</td>
        <td class="text-center">{{travelTimeDisplay(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
