<div class="card">
  <div class="card-header">
    <div class="row">
      <h4 class="col">Travel Rates/Hour</h4>
      <div class="btn-group btn-group-tobble col" data-toggle="buttons">
        <label class="btn float-right"
               *ngFor="let unitChoice of unitChoices"
               [ngClass]="unitChoice.id === selectedUnits ? 'active btn-dark' : 'btn-secondary '"
               (click)="onUnitSelect(unitChoice.id)"
        >
          <input type="radio" name="units"
                 [value]="unitChoice.id"
                 [checked]="unitChoice.id === selectedUnits"
                 autocomplete="off"> {{ unitChoice.value }}
        </label>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.ground.lightSnow"
                 [checked]="conditions.ground.lightSnow"
          >
          <label class="form-check-label">Light Snow</label>
        </div>
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.ground.snow"
                 [checked]="conditions.ground.snow"
          >
          <label class="form-check-label">Moderate Snow</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.ground.deepSnow"
                 [checked]="conditions.ground.deepSnow"
          >
          <label class="form-check-label">Deep Snow</label>
        </div>
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.ground.mud"
                 [checked]="conditions.ground.mud"
          >
          <label class="form-check-label">Mud</label>
        </div>
      </div>
      <div class="col">

        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.weather.rain"
                 [checked]="conditions.weather.rain"
          >
          <label class="form-check-label">Rain</label>
        </div>
        <div class="form-check">
          <input class="form-check-input form-check-input-condensed" type="checkbox"
                 [(ngModel)]="conditions.weather.blizzard"
                 [checked]="conditions.weather.blizzard"
          >
          <label class="form-check-label">Storm/Blizzard</label>
        </div>
    </div>

    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th><h5>Flat Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesFlat">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th><h5>Rough/Hilly Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesRough">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th><h5>Mountain Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesMountain">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
