<div class="card">
  <div class="card-header">
    <div class="row">
      <h4 class="col border">Travel Rates/Hour</h4>
      <div class="btn-group btn-group-tobble col border" data-toggle="buttons">
        <label class="btn float-right"
               *ngFor="let unitChoice of unitChoices"
               [ngClass]="unitChoice.id === selectedUnit ? 'active btn-dark' : 'btn-secondary '"
               (click)="onUnitSelect(unitChoice.id)"
        >
          <input type="radio" name="units"
                 [value]="unitChoice.id"
                 [checked]="unitChoice.id === selectedUnit"
                 autocomplete="off"> {{ unitChoice.value }}
        </label>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th><h5>Flat Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesFlat">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th><h5>Rough/Hilly Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesRough">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th><h5>Mountain Terrain</h5></th>
        <th class="text-center">Foot</th>
        <th class="text-center">Horse</th>
        <th class="text-center">Cart</th>
        <th class="text-center">Wagon</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mr of movementRatesMountain">
        <td>{{mr.path}}</td>
        <td class="text-center">{{adjustedRate(mr.foot)}}</td>
        <td class="text-center">{{adjustedRate(mr.horse)}}</td>
        <td class="text-center">{{adjustedRate(mr.cart)}}</td>
        <td class="text-center">{{adjustedRate(mr.wagon)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
