<div class="row title-box bg-dark text-white px-3 py-2 mx-4">
  <div class="col"><strong>Manor Census ({{manor.tenants.length}})</strong></div>
  <div class="col text-right"><strong>{{manor.name}}</strong></div>
</div>
<div class="container">
  <table class="table table-bordered table-striped table-hover table-sm"
         *ngIf="manor.tenants?.length > 0; else noTennants">
    <thead class="thead-light">
    <tr>
      <th class="small font-weight-bold">Occupation</th>
      <th class="small font-weight-bold">Size</th>
      <th class="small font-weight-bold">ML</th>
      <th class="small font-weight-bold">Serf</th>
      <th class="small font-weight-bold">Free</th>
      <th class="small font-weight-bold">Labor<br>Days</th>
      <th class="small font-weight-bold">Rent</th>
      <th class="small font-weight-bold">Fees</th>
      <th class="small font-weight-bold">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr app-tenant *ngFor="let tenant of manor.tenants" [tenant]="tenant">

    </tr>
    <tr class="table-info">
      <td class="font-weight-bold text-right">Totals:</td>
      <td>{{populationSize()}}</td>
      <td></td>
      <td>{{serfAcres()}}</td>
      <td>{{freeAcres()}}</td>
      <td>{{laborDays()}}</td>
      <td>{{rent()}}</td>
      <td>{{fees()}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
