<div class="row title-box bg-dark text-white px-3 py-2 mx-1" *ngIf="!showGenerationInput">
  <div class="col">
    <strong>Manor Census ({{ manor.population.tenants.length}})</strong>
  </div>
  <div class="col text-right">
    <strong>{{manor.name}}</strong>
  </div>
</div>
<div class="container-fluid mb-2" *ngIf="!showGenerationInput">
  <table class="table table-striped table-sm">
    <thead class="thead-light">
    <tr>
      <th class="font-weight-bold">Occupation</th>
      <th class="font-weight-bold text-center" width="10%">Size</th>
      <th class="font-weight-bold text-center" width="10%">ML</th>
      <th class="font-weight-bold text-center" width="10%">Serf</th>
      <th class="font-weight-bold text-center" width="10%">Free</th>
      <th class="font-weight-bold text-center" width="10%">Labor</th>
      <th class="font-weight-bold text-center" width="10%">Rent</th>
      <th class="font-weight-bold text-center" width="10%">Fees</th>
      <th class="font-weight-bold">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr app-tenant *ngFor="let tenant of manor.population.tenants" [tenant]="tenant">

    </tr>
    <tr class="table-summary">
      <td class="font-weight-bold text-right">Totals:</td>
      <td class="font-weight-bold text-center">{{tenantTotals.size}}</td>
      <td class="font-weight-bold text-center"></td>
      <td class="font-weight-bold text-center">{{tenantTotals.serf_acres | number}}</td>
      <td class="font-weight-bold text-center">{{tenantTotals.free_acres | number}}</td>
      <td class="font-weight-bold text-center">{{tenantTotals.labor | number}}</td>
      <td class="font-weight-bold text-center">{{tenantTotals.rent | number}}d</td>
      <td class="font-weight-bold text-center">{{tenantTotals.fees | number}}d</td>
      <td class="font-weight-bold text-center"></td>
    </tr>
    </tbody>
  </table>
</div>
