<div>
  <div class="row">
    <div class="col-sm-6"><h2>Tennants ({{manor.tenants.length}})</h2></div>
    <div class="col-sm-6 text-right">
      <a class="btn btn-sm" (click)="onPopulateClick()"
         [ngClass]="manor.tenants.length < 1 ? 'btn-primary' : 'btn-danger'"
      ><i class="fa fa-users"></i> Populate</a>
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover table-sm"
         *ngIf="manor.tenants?.length > 0; else noTennants">
    <thead class="thead-dark">
    <tr>
      <th>Occupation</th>
      <th>Size</th>
      <th>ML</th>
      <th>Serf</th>
      <th>Free</th>
      <th>Labor<br>Days</th>
      <th>Rent</th>
      <th>Fees</th>
      <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr app-tenant *ngFor="let tenant of manor.tenants" [tenant]="tenant">

    </tr>
    <tr>
      <td>Totals:</td>
      <td>{{populationSize()}}</td>
      <td></td>
      <td>{{serfAcres()}}</td>
      <td>{{freeAcres()}}</td>
      <td>{{laborDays()}}</td>
      <td>{{rent()}}</td>
      <td>{{fees()}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
