<div class="row title-box bg-dark text-white page px-3 py-2 mx-1">
  <div class="col">
    <strong>Manor Budget</strong>
  </div>
  <div class="col text-right h4">{{manor.name}}</div>
</div>
<div class="container-fluid mb-2">

  <div class="row mx-2">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Name:</span>
      </div>
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
             [(ngModel)]="manor.name">
      <a class="btn btn-sm btn-primary" (click)="onGenerateClick()" *ngIf="showGenerationInput">
        <i class="fa fa-users"></i>
        Generate</a>
      <a class="btn btn-sm btn-danger" (click)="onResetClick()" *ngIf="!showGenerationInput">
        <i class="far fa-trash-alt"></i>
        Reset</a>
      <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#collapsePolicies" role="button"
         aria-expanded="false" aria-controls="collapsePolicies"><i class="fas fa-cog"></i>
        Policies
      </a>
    </div>
  </div>

  <hr class="small">

  <div class="row">
    <div class="collapse" id="collapsePolicies">
      <app-policies [policies]="manor.policies"></app-policies>
      <hr class="small">
    </div>
  </div>

  <div class="row sm-gutters">
    <div class="col-md-4">
      <app-general-data [manor]="manor"></app-general-data>
    </div>
    <div class="col">
      <app-household-list [manor]="manor"></app-household-list>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Future Home of Fief Budget
    </div>
    <div class="col">
      Future Home of Crop List
    </div>
  </div>
  <div class="row">
    <div class="col">
      Future Home of Lords Budget
    </div>
    <div class="col">
      Future Home of Livestock List
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="lead">
        <strong>Notes:</strong> {{manor.notes.join('. ')}}
      </p>
    </div>
  </div>
</div>

<app-tenant-list [manor]="manor"></app-tenant-list>

<code>
  {{manor | json}}
</code>
