<table class="table table-striped table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th class="font-weight-bold">Crops</th>
    <th class="small font-weight-bold text-center" width="10%">RI</th>
    <th class="small font-weight-bold text-center" width="10%">Yield</th>
    <th class="small font-weight-bold text-center" width="15%">Acres</th>
    <th class="small font-weight-bold text-center" width="10%">Labor</th>
    <th class="small font-weight-bold text-right" width="15%">Kind</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let crop of manor.crops">
    <td class="small">{{crop.cropType}}</td>
    <td class="small text-center">{{reeveIndex(crop)}}</td>
    <td class="small text-center">{{cropYield(crop)}}</td>
    <td class="small" width="10%">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-center" [(ngModel)]="crop.acres" (input)="updateTotals()">
      </div>
    </td>
    <td class="small text-center">{{cropLabor(crop)}}</td>
    <td class="small text-right">{{cropKind(crop) | number}}</td>
  </tr>
  <tr class="table-secondary">
    <td class="text-right font-weight-bold" colspan="3">Totals:</td>
    <td class="text-right font-weight-bold text-center">{{cropTotals.acres | number}}</td>
    <td class="text-right font-weight-bold text-center">{{cropTotals.labor | number}}</td>
    <td class="text-right font-weight-bold">{{cropTotals.kind | number}}d</td>
  </tr>
  </tbody>
</table>
