<div class="container page">
  <h2>Armor.... look out behind you!!!</h2>
  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-header"><span class="card-title">Available Armor</span></div>
        <div class="card-body">
          <div *ngFor="let item of armorList; let i = index" class="list-group-item" dnd-draggable [dragEnabled]="true" [dragData]="armorList[i]">
              <div>{{item.type | titlecase}} {{item.name | titlecase}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header"><span class="card-title">Armor Worn</span></div>
        <div class="card-body" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
          <div [hidden]="!armorWorn.length > 0" *ngFor="let item of armorWorn">
            <div *ngFor="let item of armorList" class="list-group-item">
              <div>{{item.type | titlecase}} {{item.name | titlecase}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
