<table class="table table-striped table-bordered table-sm">
  <thead class="thead-light">
  <tr>
    <th>Location</th>
    <th class="text-center">B</th>
    <th class="text-center">E</th>
    <th class="text-center">P</th>
    <th class="text-center">F</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="font-weight-bold">Skull</td>
      <td class="text-center">{{locationProtection(location.Skull, protection.Blunt)}}</td>
      <td class="text-center">{{locationProtection(location.Skull, protection.Edge)}}</td>
      <td class="text-center">{{locationProtection(location.Skull, protection.Pierce)}}</td>
      <td class="text-center">{{locationProtection(location.Skull, protection.Fire)}}</td>
    </tr>
  </tbody>
</table>
