<div class="container page">
  <h1>Random Harnic Names</h1>
  <p>This is a simple name generator that pulls from lists medeival names listed in england ~1400-1600. I will
    eventulaly expand this to include options for Ivinian, Jarin and other names but for now this should be suitable for
    most feudal kingdom names.</p>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-6 mt-1">
      <div class="btn-group" role="group" aria-label="Gender">
        <button type="button" class="btn btn-secondary btn-outline-dark"
          [ngClass]="selectedGender === gender.FEMALE ? 'active btn-dark' : null"
                (click)="onGenderSelect(gender.FEMALE)"
        >Female</button>
        <button type="button" class="btn btn-secondary btn-outline-dark"
          [ngClass]="selectedGender === gender.MALE ? 'active btn-dark' : null"
                (click)="onGenderSelect(gender.MALE)"
        >Male</button>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-6 mt-1">
      <div class="btn-group" role="group" aria-label="Culture">
        <button type="button" class="btn btn-secondary btn-outline-dark" (click)="onCultureSelect(culture.ENGLISH)"
                [ngClass]="selectedCulture === culture.ENGLISH ? 'active btn-dark' : null">Feudal</button>
        <button type="button" class="btn btn-secondary btn-outline-dark" (click)="onCultureSelect(culture.WELSH)"
                [ngClass]="selectedCulture === culture.WELSH ? 'active btn-dark' : null">Jarin</button>
        <button type="button" class="btn btn-secondary btn-outline-dark" (click)="onCultureSelect(culture.SAXON)"
                [ngClass]="selectedCulture === culture.SAXON ? 'active btn-dark' : null">Pharic</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-6">
      <h6 class="mt-2">Select Gender or Culture to Generate</h6>
      <ul>
        <li *ngFor="let name of generatedNames">{{name}}</li>
      </ul>
      <app-loading-spinner *ngIf="showSpinner" [msg]="'Loading names ...'"></app-loading-spinner>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-6">
      <ul>
        <li><strong>Feudal:</strong> Includes most common harnic names among the main kingdoms of Harn and the Thardic Republic.  In this generator this includes lists of names and surnames derived from cencus in England between the 15th and 16th centry.</li>
        <li><strong>Jarin:</strong> Includes the older tribal/clannish cultures on Harn.  Somtimes these names appear in the Feudal Kingdoms, particularly in families on the frontier.  These names are also common in Harnic Barbarian Jarin clans.  In this generator this draws from a list of Welsh and Celtic names from the mid to early middle ages.</li>
        <li><strong>Pharic:</strong> Includes various barbarian groups of Pharic origin on Harn such as the Chelni, Gozyda, Hodiri, Kath, Pagaelin and Tulwyn.  In this generator this draws from a list of Saxon names from the early-mid middle ages.</li>
        <li><strong>Orbaleese (Not Implemented):</strong> Includes the Orbaleese Jarin people in northern Harn and some northern Harnic Barbarian clans.  In this generator this includes list of Scots and Celtic names.</li>
        <li><strong>Ivanian (Not Implemented):</strong> Includes anyone of Ivanian descent, includin the occupying clans in Orbaal.  In th is generator this includes list of Scandinavian names from the mid to late middle ages.</li>
      </ul>
    </div>
  </div>
</div>
