/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

.page {
  margin-top: 4rem;
  margin-bottom: .2rem;
}

.text-rotate {
  transform: rotate(90deg);
  position: relative;
}

.alert-success p,
.alert-info p,
.alert-warning p,
.alert-danger p {
  margin: 0;
  padding: 0;
}

.google-red {
  background-color: #dd4b39;
}

.loader-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fix for stacked form checkbox inputs */
.form-check-input-condensed {
  margin-left: 0;
  margin-top: 0.65rem;
  vertical-align: center;
}

.title-box {
  border: double .5em $body-bg;
  border-radius: 1.5em;
}

.subtitle-box {
  border: none;
  border-radius: .2em;
}

hr.small {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.sm-gutters {
  margin-right: 0.2rem;
  margin-left: 0.2rem;

  > .col,
  > [class*="col-"] {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}

input, select.condensed {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-family: Calibri;
  font-size: 14px;
}

.data-control {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

