<table class="table table-bordered table-striped table-hover table-sm" [formGroup]="lordsBudgetForm">
  <thead class="thead-dark
">
  <tr>
    <th class="font-weight-bold">Lord's Budget</th>
    <th class="small font-weight-bold text-center" width="10%">CR</th>
    <th class="small font-weight-bold text-right" width="15%">Kind</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="small">Demesne Income</td>
    <td class="small text-center"></td>
    <td class="small text-right">{{demesneIncome() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Tenant Rents & Fees</td>
    <td class="small text-center"></td>
    <td class="small text-right">{{this.tenants.rent + this.tenants.fees | number}}d</td>
  </tr>
  <tr>
    <td class="small">Glebe Revenue</td>
    <td class="small text-center"></td>
    <td class="small text-right">{{getGlebeRevenue() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Taxes & Tolls</td>
    <td class="small text-center"></td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="taxes" [(ngModel)]="manor.taxIncome">
      </div>
    </td>
  </tr>
  <tr>
    <td class="small">Amercements</td>
    <td class="small text-center">{{manor.amercements.beadleCheck}}</td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="amercements"
               [(ngModel)]="manor.amercements.amount">
      </div>
    </td>
  </tr>
  <tr>
    <td class="small">Feudal Income</td>
    <td class="small text-center"></td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="feudalIncome"
               [(ngModel)]="manor.feudalIncome">
      </div>
    </td>
  </tr>
  <tr class="table-secondary">
    <td class="font-weight-bold">Total Income</td>
    <td class="font-weight-bold text-center"></td>
    <td class="font-weight-bold text-right">{{totalIncome() | number}}d</td>
  </tr>
  <tr>
    <td class="small">Household</td>
    <td class="small text-center"></td>
    <td class="small text-right">{{householdKind | number}}d</td>
  </tr>
  <tr>
    <td class="small">Feudal Payments</td>
    <td class="small text-center"></td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="feudalPayments"
               [(ngModel)]="manor.feudalPayments">
      </div>
    </td>
  </tr>
  <tr>
    <td class="small">Tithe</td>
    <td class="small text-center"></td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="tithe" [(ngModel)]="manor.tithe">
      </div>
    </td>
  </tr>
  <tr>
    <td class="small">Labor Hired</td>
    <td class="small text-center"></td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="laborHired"
               [(ngModel)]="manor.laborHired">
      </div>
    </td>
  </tr>
  <tr>
    <td class="small">Political Expenses</td>
    <td class="small text-center"></td>
    <td class="small text-right">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control text-right" formControlName="politicalExpenses"
               [(ngModel)]="manor.politicalExpenses">
      </div>
    </td>
  </tr>
  <tr class="table-secondary">
    <td class="font-weight-bold">Total Expenses</td>
    <td class="font-weight-bold text-center"></td>
    <td class="font-weight-bold text-right">{{totalExpenses() | number}}d</td>
  </tr>
  <tr class="table-primary">
    <td class="font-weight-bold">To Privy Purse</td>
    <td class="font-weight-bold text-center"></td>
    <td class="font-weight-bold text-right">{{privyPurse() | number}}d</td>
  </tr>
  </tbody>
</table>
